{% extends 'base.html' %}
{% load static %}
{% block title %}Lobby{% endblock %}
{% block content %}
    <style>
        table {
            width: 100%;
            border-spacing: 1px;
            background: #0f9d58 url({% static 'fgx-border.png'%}) repeat-y;
            border-collapse: unset;
            background-size: 100%;
        }
    </style>
    <form method="post" target="_self">
    {% csrf_token %}
        <table style="align-content: center; color:#FAFAFA ">
            <tr style="align-content: left ; height: 60px">
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td>
                    {% for usr in user %}
                        <img style="border-radius: 50px; width: 60px; height: 60px"
                                     src="{% static 'images/poker_pot.png' %}">
                        {{ usr.username }}
                    {% endfor %}
                </td>
                <td></td>
                <td> </td>
                <td></td>
                <td>
                </td>
                <td>
                    {% for bot in bots %}
                        {% if bot.id == 1 %}
                            <img style="border-radius: 50px" width="90" height="60"
                                 src="{{ bot.bot_image.url }}">
                            {{ bot.bot_name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="align-content: left ; height: 60px">
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%">
                </td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
            </tr>
            <tr style="align-content: center; height: 90px">
                <td style="width: 10%">
                    {% for bot in bots %}
                        {% if bot.id == 2 %}
                            <img style="border-radius: 50px" width="90" height="60"
                                 src="{{ bot.bot_image.url }}">
                            {{ bot.bot_name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="width: 10%"></td>

                <td style="width: 10%; text-align: center" colspan="6">
                    <a href="lobby/{{ username }}/game">
                        <button name="start_button"
                                class="waves-effect waves-light btn-large"
                                type="submit" value="">Start Game
                        </button>
                    </a>
                </td>
                <td style="width: 10%"></td>

                <td style="width: 10%">
                    {% for bot in bots %}
                        {% if bot.id == 3 %}
                            <img style="border-radius: 50px" width="90" height="60"
                                 src="{{ bot.bot_image.url }}">
                            {{ bot.bot_name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
            </tr>
            <tr style="align-content: left ; height: 90px">
                <td style="width: 5%"></td>
                <td></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
            </tr>
            <tr style="align-content: left ; height: 90px">
                <td style="width: 5%"></td>
                <td></td>
                <td style="width: 10%">
                    {% for bot in bots %}
                        {% if bot.id == 4 %}
                            <img style="border-radius: 50px" width="90" height="60"
                                 src="{{ bot.bot_image.url }}">
                            {{ bot.bot_name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%">
                    {% for bot in bots %}
                        {% if bot.id == 5 %}
                            <img style="border-radius: 50px" width="90" height="60"
                                 src="{{ bot.bot_image.url }}">
                            {{ bot.bot_name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
            </tr>
            <tr style="align-content: left ; height: 90px">
                <td style="width: 5%"></td>
                <td></td>
                <td style="width: 10%"></td>
                <td style="width: 10%">
                </td>
                <td style="width: 10%">

                </td>
                <td style="width: 10%">

                </td>
                <td style="width: 10%">

                </td>
                <td style="width: 10%">

                </td>

                <td style="width: 10%">

                </td>
                <td style="width: 10%"></td>
            </tr>
        </table>
    </form>
{% endblock %}