{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
    {% for user in user_object %}
        <form class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <input disabled value="{{ user.username }}" placeholder="Placeholder" id="user_name" type="text" class="validate black-text">
              <label for="user_name">Username</label>
            </div>
          </div>
            <div class="row">
                <div class="input-field col s4">
                  <input disabled value="{{ user.last_name }}" placeholder="{{ user.last_name }}" id="last_name" type="text" class="validate black-text">
                  <label for="last_name">Last name</label>
                </div>
              </div>
            <div class="row">
                <div class="input-field col s4">
                  <input disabled value="{{ user.first_name }}" placeholder="{{ user.first_name }}" id="first_name" type="text" class="validate black-text">
                  <label for="first_name">First name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                  <input disabled value="{{ user.email }}" placeholder="{{ user.email }}" id="email" type="text" class="validate black-text">
                  <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                  <input disabled value="{{ user.balance }}$" placeholder="{{ user.balance }}" id="balance" type="text" class="validate black-text">
                  <label for="balance">Active Balance</label>
                </div>
            </div>
            <div class="row">
            <a href="/{{ user.pk }}/">
                Editing profile
            </a>
        </div>
        </form>
    {% endfor %}
{% endblock %}